*{
    box-sizing: border-box;
    padding:0px;
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav{
    background-color:#426620 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
            font-size: 15px;
            font-weight: 400;
            color: white;
    padding: 2em;
    .logo{
        padding: 1em;
        margin-right: auto;
    }
    ul{
        list-style-type: none;
        a{
            text-decoration: none;
            color: white;
            padding: 10px;
            transition: all 0.3s ease .3s;
            &:hover{
            border: solid 1px white;
            }
        }
        .nav-item{
            list-style: none;
        }
        li{
                margin-left: 1em;
                display: inline-block;
            }
    }

  
}
.banner{
    height: 80vh;
    width: 100%;
    background-color: #426620;
}
.card{

    border-radius: 25px;
    background: #426620;
    box-shadow:  7px 7px 6px #3d5f1e,
                 -7px -7px 6px #476d22;
}